#g_title p, #g_footer p, #g_description p {
margin: 0;
}
/*
  -- -- -- -- -- -- --
  Browser Fixes
  -- -- -- -- -- -- --
  	
  This file uses CSS filtering methods to fix various
  layout bugs.

  Each of the following three imported files is a 
  separate, browser-specific CSS file that keeps all 
  hacks out of the main style sheet.

  Over time, as supporting these browsers no longer
  remains a priority, cleaning up the hacks is as
  easy as deleting the @import statement below, or
  simply no longer linking this file from the HTML.
*/

/* 
  fix ie6 "peekaboo bug" using the "holly hack". 
  Note, this style only gets applied to ie6
*/
* html .wrapper {
  height: 0.1%;
}

/* 
 * IE5 mac - overrides the IE/Win hack 
 */

/*\*//*/

* html #threecolumn div {
  height: auto;
}

/**/

/* 
 * IE5/Win-specific CSS -ensures #container wraps all content on window resize
 */

@media tty {
  i{content:"\";/*" "*/}} * html #container { height: 1%; } /*";}
}/* */

/* Styling for editable elements. Eventually, this will be part of the style. */
.editable {
  border: 1px dashed blue;
}
  
#footer {
clear: both;
}
  
/* Extra divs hidden by default. The custom CSS can override this though */
#extraDiv1, #extraDiv2, #extraDiv3, #extraDiv4, #extraDiv5, #extraDiv6 {
display: none;
}
  
a img,:link img,:visited img {
  border: none;
}

body {
  text-align: center;
}

#container {
  width: 800px;
  text-align: left;
  margin: 0 auto;
}

#main-content {
  float: left;
  display: inline; /* for IE */
  width: 550px;
}

#sidebar {
  float: right;
  display: inline; /* for IE */
  width: 230px;
}

#footer {
  clear: both;
} 

/** BEGIN CUSTOM SKIN **/

/*
  -- -- -- -- -- -- --
  Base CSS
  -- -- -- -- -- -- --
  	
  This file simply removes default styling on most HTML elements in 
  order to reduce the need to later override them.
*/

h1,h2,h3,h4,h5,h6,pre,code,p,pre {font-size: 1em;}
dl,li,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,pre,blockquote,fieldset,input {margin: 0; padding: 0;}
a img,:link img,:visited img {border: none;}
address {font-style: normal;}html {background:#eee;}
body {background:#eee;font-family:'Verdana','Helvetica', 'Arial', sans-serif;font-size:0.85em;}
a {color:#00c;text-decoration:underline !important;}
a:visited {color:#551a8b;}
b, strong {font-weight:bold;}
blockquote {border-left:1px solid #ccc;margin:1em 3em;padding-left:1em;font-size:0.9em;}
blockquote p {line-height:1.45em;}
em {font-style:italic;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;margin:1.5em 0 0.5em 0;}
h1 {font-size:2.25em;color:#000;margin:0.5em 0 0.5em 0;}
h2 {font-size:1.5em;color:#333;}
h3 {font-size:1.3em;}
h4 {font-size:1.15em;}
h5 {font-size:1em;}
h6 {font-size:0.8em;}
p,li {color:#000;line-height:1.75em;margin:0 0 1.5em 0;}
blockquote p, table p, dd p, li p, #header p {margin-bottom:0.5em;}
ul, ol {margin:1em 0; padding-left: 1.6em;}
li {margin:0.25em 0;}
ul li {list-style-type:disc;}
ol li {list-style-type:decimal;}
table {border:0px solid #ccc;border-width:0px;}
table caption {display:block;font-style:italic;white-space:nowrap;margin:0.5em 1em;}
table td, table th {padding:0.5em 1em;text-align:left;vertical-align:middle;}
table th {font-weight:bold;border-bottom:0px solid #999;}
table td {border-bottom:0px solid #ddd;font-size:0.85em;}

dl {margin:1em;line-height:1.5em;list-style-type:disc;}
dt {font-weight:bold;margin-top:0.5em;}
dd {margin-left:2em;}

#adsense {text-align:center;}
#container {
padding: 25px 40px 10px 40px; 
border: 1px solid #ccc;
background:#fff;
margin:1em auto;
}
#footer {border-top:1px solid #ccc;margin-top:2em;}
#header {border-bottom:1px solid #ccc;margin-bottom:2em;}
#sidebar {font-size:1.0em;}
#sidebar :first-child {margin-top:0;}
#sidebar-alternate {font-size:1.0em;}
#sidebar-alternate :first-child {margin-top:0;}
#main-content {background:#fff;}
#main-content h2:first-child {margin-top:0;}	

@media print {
html {background:#fff !important;}
#container {border-width:0px !important;padding:0 !important;}
}

/* Tweaks for Three-column layout
----------------------------------------------- */
#threecolumn #main-content .wrapper {padding:0 25px;}

/* Tweaks for Two-column Left layout
----------------------------------------------- */
#twocolumn-left #main-content .wrapper {padding-left:25px;}

/* Tweaks for Two-column Right layout
----------------------------------------------- */
#twocolumn-right #main-content .wrapper {padding-right:25px;}

/* Tweaks for Two-column Liquid layout
----------------------------------------------- */
#twocolumn-liquid-right #container {margin:1em 1em;}
#twocolumn-liquid-right #main-content .wrapper {padding-right:25px;}
#twocolumn-liquid-left #container {margin:1em 1em;}
#twocolumn-liquid-left #main-content .wrapper {padding-left:25px;}

/* Tweaks for One-column Liquid layout
----------------------------------------------- */

/* Tweaks for One-column layout
----------------------------------------------- */
#onecolumn #main-content .wrapper {padding-left:0;}

/* ie5win */
@media tty { i{content:"\";/*" "*/}} * html #container { padding: 25px 0px 10px 10px; } /*";}
}/* */

/** END CUSTOM SKIN **/

